<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div id="title" class="text-animation">
        <h1> Shingeki Airbnb </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="card-flat">
          <div class="card-flat-image" style="background-image: url('<%= flat.picture_url %>')"></div>
          <div class="card-flat-content">
            <div class="card-flat-title">
              <h4><%= flat.name %></h4>
            </div>
            <p><%= flat.address %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex ms-3">
                <i class="material-icons mr-2">euro_symbol</i><%= flat.price_per_night %>
              </div>
            </div>
          </div>
          <div class="card-flat-actions">
            <%= link_to 'More info', flat_path(flat), class: 'ml-3 text-danger' %>
            <%= link_to 'Edit', edit_flat_path(flat), class: 'ml-3 text-danger' %>
            <%= link_to "Remove", flat_path(flat),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
