<h1>Flats</h1>

<div class="flex-container">
    <% @flats.each do |flat| %>
      <div class="flex-item">
        <div class="card-flat">
        <img src = "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h5><%= flat.name %></h5>
              <%= flat.description %>
            </div>
            <h6 class="card-flat-pricing"><%= flat.price_per_night %></h6>
          </div>
        </div>
      </div>
    <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th>Price per Night</th>
      <th>Number of Guests</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flats.each do |flat| %>
    <tr>
      <td><%= flat.name %></td>
      <td><%= flat.address %></td>
      <td><%= flat.description%></td>
      <td><%= flat.price_per_night %></td>
      <td><%= flat.number_of_guests %></td>
    </tr>
    <% end %>
  </tbody>
</table>
